version: '3'
services:
  miniflux:
    image: miniflux/miniflux:latest
    ports:
      - "80:8080"
    environment:
      - DATABASE_URL=postgres://miniflux:password@db/miniflux?sslmode=disable
      - RUN_MIGRATIONS=1
      - CREATE_ADMIN=1
      - ADMIN_USERNAME=admin
      - ADMIN_PASSWORD=123456
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=miniflux
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=miniflux
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
